version: '3.0'

services:
  grafana:
    image: docker.io/grafana/grafana:latest
    environment:
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=felixrelleum-geomapwms-panel
      - GF_INSTALL_PLUGINS=marcusolsson-json-datasource,iosb-sensorthings-datasource
      # - GF_USERS_DEFAULT_LANGUAGE=de
      - GF_LOG_MODE=console file
      - GF_LOG_LEVEL=debug
      - GF_DATAPROXY_LOGGING=true
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_PANELS_DISABLE_SANITIZE_HTML=true
      - GF_FEATURE_TOGGLES_ENABLE=publicDashboards
      - GF_DEFAULT_APP_MODE=development
    ports:
      - 3000:3000/tcp
    volumes:
      - ./felixrelleum-geomapwms-panel:/var/lib/grafana/plugins/felixrelleum-geomapwms-panel
      # - ../dashboards:/var/lib/grafana/dashboards
      - ./provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./provisioning/dashboards:/etc/grafana/provisioning/dashboards
