.ol-custom-overviewmap {
    /* left: 0.5em; */
    /* bottom: 0.5em; */
    right: 0.5em;
    bottom: 20%;
    padding: 1px;
  }
  .ol-custom-overviewmap.ol-uncollapsible {
    bottom: 0;
    left: 0;
    border-radius: 0 2px 0 0;
  }
  .ol-custom-overviewmap .ol-overviewmap-map,
  .ol-custom-overviewmap button {
    display: block;
  }
  .ol-custom-overviewmap .ol-overviewmap-map {
    border: 1px solid #7b98bc;
    height: 150px;
    margin: 1px;
    width: 150px;
  }
  .ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: 6px;
    left: 6px;
    position: absolute;
  }
  .ol-custom-overviewmap.ol-collapsed .ol-overviewmap-map,
  .ol-custom-overviewmap.ol-uncollapsible button {
    display: none;
  }
  .ol-custom-overviewmap:not(.ol-collapsed) {
    background: rgba(255,255,255,0.8);
  }
  .ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid red;
  }
  
  .ol-custom-overviewmap .ol-overviewmap-box:hover {
    cursor: move;
  }
  