name: Linting

on:
  workflow_call: # https://docs.github.com/en/actions/using-workflows/reusing-workflows
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node-version: 24
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    - uses: actions/checkout@v3
    - run: npm install
    - run: npm run lint